<header>
    <h1 class="pull-right">
        Ghink <small class="hide-medium">gh-pages + ink</small>
    </h1>

    <nav class="ink-navigation pull-left hide-small">
        <ul class="menu horizontal black rounded shadowed">
            <li data-urlexp="/^\/$/i"><a href="/">Home</a></li>
            <li data-urlexp="/^\/pages\//i">
                <a href="#" onclick="return(false);">Pages <i class="fa fa-caret-down"></i></a>
                <ul class="submenu black">
                    <li><a href="/pages/contact">contact</a></li>
                </ul>
            </li>
            <li data-urlexp="/^\/blog\//i"><a href="/blog/">Blog</a></li>
        </ul>
    </nav>

</header>
